* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 229, 234);
}

.image-section {
    background-image: url(electronic\ background.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
}

#item1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#item2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#item3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#item4 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#item5 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.image1 {
    background-image: url("ledtv.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    padding: auto;
    margin-left: 360px;
    border: 2px solid black;
}

.image2 {
    background-image: url("washing\ machines.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 500px;
    padding: auto;
    margin-left: 360px;
    border: 2px solid black;
}

.image3 {
    background-image: url("refrigerator.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    padding: auto;
    margin-left: 360px;
    border: 2px solid black;
}

.image4 {
    background-image: url("acreal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    padding: auto;
    margin-left: 360px;
    border: 2px solid black;
}

.electronic-item h2 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.electronic-item p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}