* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

body {
    font-family: Arial, sans-serif;
}

#location {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#button-location {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#button-location:hover {
    background-color: #0056b3;
}

.form {
    margin-top: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button-location {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 560px;
    margin-right: 300px;
}