    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    body {
        position: relative;
        background-color: bisque;
    }
    
    .bg-image {
        background-image: url('bgrefri2.webp');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
    
    #heading {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 72px;
        color: #050505;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .product-gallery {
        display: flex;
        height: 300px;
        width: 100%;
        text-align: center;
    }
    
    .image-container {
        height: 150px;
        width: 150px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product-item p {
        font-weight: bold;
        border: 2px solid black;
        background-color: lightgray;
        padding: 5px;
        border-radius: 5px;
    }
    
    .product-item h3 {
        font-size: 18px;
        margin: 10px 0;
        color: rgb(36, 18, 18);
    }
    
    #refri1 {
        background-image: url("refri1.avif");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 29%;
        margin: 10px;
    }
    
    #refri2 {
        background-image: url("refri2.webp");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 29%;
        margin: 10px;
    }
    
    #refri3 {
        background-image: url("refri2.avif");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 29%;
        margin: 10px;
    }
    
    #refri4 {
        background-image: url("refri4.webp");
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 29%;
        margin: 10px;
    }