* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(4, 20, 71);
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    background-image: url(logoreal.png);
    height: 100%;
    background-size: cover;
}

.logoo {
    height: 90px;
    width: 160px;
}

.navbar a {
    color: #f0d381;
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-top: 33px;
}

.search {
    width: 300px;
    display: flex;
    padding: 0%;
}

.nav-search {
    display: flex;
    position: relative;
    margin-top: 33px;
    margin-bottom: 33px;
    background-color: #F7A5A5;
}

.nav-bar-design hover {
    border: 2px solid white;
}

.navbar2 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(9, 8, 44);
}

#navibar2 a {
    color: #efe1b8;
    font-style: italic;
}

.navbar2 a:hover {
    color: rgb(92, 51, 215);
}

.company names {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
}

.company {
    height: 300px;
    width: 100%;
    color: black;
    font-size: larger;
    margin: 33px 33px 2px 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.company h3 {
    text-align: center;
    background-color: white;
}

.company h3:hover {
    font-style: italic;
}

.apple-products {
    display: flex;
    height: 300px;
    width: 100%;
    text-align: center;
}

.apple-products a:hover {
    transform: perspective(600px) translateZ(50px) scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

#iphone {
    background-image: url("iphoneapple.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 0 10px;
}

#ipad {
    background-image: url("ipad.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#macbook {
    background-image: url("macbook.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#airpods {
    background-image: url("airpods.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#watch {
    background-image: url("watchapple.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

.samsung-products {
    display: flex;
    height: 300px;
    width: 100%;
    text-align: center;
}

#samsung-laptop {
    background-image: url("samsunglaptop.avif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#samsung-watch {
    background-image: url("samsungwatch.avif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#samsung-tv {
    background-image: url("samsungtv.jpg.avif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#samsung-earbuds {
    background-image: url("samsungpods.png.avif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#samsung-wm {
    background-image: url("samsungwm.avif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

.samsung-products a:hover {
    transform: perspective(600px) translateZ(50px) scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

.op-products {
    display: flex;
    height: 300px;
    width: 100%;
    text-align: center;
}

.op-products a:hover {
    transform: perspective(600px) translateZ(50px) scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

#op-watch {
    background-image: url("opwatch.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#op-tablet {
    background-image: url("optablet.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#op-cases {
    background-image: url("opcases.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#op-earbuds {
    background-image: url("opearbuds.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#op-pwc {
    background-image: url("oppwc.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

.lg-products {
    display: flex;
    height: 300px;
    width: 100%;
    text-align: center;
}

.lg-products a:hover {
    transform: perspective(600px) translateZ(50px) scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

#lg-tv {
    background-image: url("lgtv.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#lg-refri {
    background-image: url("lgref.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#lg-ovens {
    background-image: url("lgovens.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#lg-wm {
    background-image: url("lgwm.webp");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

#lg-wp {
    background-image: url("lgwater.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 10px;
}

.benefits {
    background-color: rgb(8, 24, 84);
    color: #f0d381;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    font-size: 14px;
    border: 1px solid #f0d381;
    margin: 20px;
    padding: 2px;
}

.benefit li {
    background-color: rgb(15, 7, 87);
    color: #f0d381;
    margin: 5px;
}

.benefit li:hover {
    color: white;
    font-weight: bold;
}

.benefit {
    margin: 20px;
}

.footer-design {
    background-color: rgba(5, 19, 69, 0.539);
    color: #f0d381;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    display: flexbox;
    width: 100%;
    bottom: 0;
}

.footer-design h3 {
    margin-bottom: 10px;
    background-color: #f0d381;
    color: black;
}