#deal1-image {
    background-image: url(lgtv.webp);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    margin: 20px;
}

#deal2-image {
    background-image: url(iphoneapple.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    padding: 33px;
}

#deal3-image {
    background-image: url(samsunglaptop.avif);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    padding: 33px;
}

#deal4-image {
    background-image: url(dlaptop.webp);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 29%;
    padding: 33px;
}

.todays-deal-section h1 {
    text-align: center;
    font-size: 44px;
    background-color: lightgray;
}

.deal-item h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightgray;
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deal-item p {
    font-size: 1.5rem;
    font-style: italic;
    color: red;
}