* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wm-header {
    font-family: Arial, sans-serif;
    background-image: url(wmbackground.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wm-header h1 {
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 4px #000000;
}

.wm-product {
    display: flex;
}

.samsung h2 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

#wm-image1 {
    background-image: url(samsungwm.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.lg h2 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

#wm-image2 {
    background-image: url(lgwm.webp);
    background-size: cover;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.whirlpool h2 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

#wm-image3 {
    background-image: url(semiwm.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.wm-product {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    color: brown;
}

.wm-product p {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: darkblue;
}